.chat {
    height: 85%;
    position: relative;
    width: 40vw;
    margin-bottom: 30px;
    border-radius: 14px;
    background: $white;
    position: relative;
    @include mq(small) {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0px;
    }
    @include box-shadow(0, 26px, 65px, -2px, rgba($color-primary, 0.8));
    @include e(header) {
        padding: 27px 0;
        font-size: 38px;
        height: 7%;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        color: $white;
        text-align: center;
        font-family: $font-family--primary;
        font-weight: $font-weight--regular;
        @include linear-gradientH(#70bdf8, #706ff6);
        @include box-shadow(0, 3px, 5px, 0px, rgba($grey, 0.6));
        @include mq(small) {
            font-size: 32px;
            padding: 12px 0;
            border-radius: 0px;
        }
    }
}
