%message {
    max-width: 60%;
    font-family: $font-family--primary;
    font-weight: $font-weight--regular;
    border-radius: 12px;
    font-size: 16px;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: block;
    @include box-shadow(0px, 11px, 25px, -13px, rgba(0, 0, 0, 0.3));
    &.loading p,
    &.first.loading span p {
        display: none;
    }
    &.hidden {
        display: none;
    }
    &.fadeIn {
        @include animation(fadeInUp2 0.5s ease);
    }
    @include mq(small) {
        max-width: 62%;
        font-size: 16px;
    }
}

%avatar {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;
        @include transform(translate(0, 50%));
    }
    to {
        opacity: 1;
        @include transform(none);
    }
}

%ressection {
    width: 80%;
    margin-bottom: 7px;
    @include mq(small) {
        width: 90%;
    }
}

%res-title {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    font-size: 24px;
    line-height: 24px;
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    color: palette(primary, x-dark);
    @include mq(small) {
        line-height: 20px;
        font-size: 18px;
    }
}

%res-title-span {
    font-weight: $font-weight--bold;
    color: palette(primary, x-dark);
    line-height: 24px;
    font-size: 26px;
    margin-right: 15px;
    @include mq(small) {
        line-height: 20px;
        font-size: 18px;
    }
}

%res-date {
    font-style: italic;
}

%res-inl-details {
    font-size: 18px;
    @include mq(small) {
        line-height: 20px;
        font-size: 18px;
    }
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    color: palette(primary, x-dark);
    @include mq(small) {
        line-height: 20px;
        font-size: 14px;
    }
}

%res-details-span {
    margin-right: 15px;
    font-weight: $font-weight--bold;
    @include mq(small) {
        line-height: 20px;
        font-size: 14px;
    }
}

%res-details {
    margin: 7px 0px;
    font-size: 18px;
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    color: palette(primary, x-dark);
    @include mq(small) {
        line-height: 20px;
        font-size: 14px;
    }
}
