.container {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(center);
    @include m(chat) {
        @include linear-gradientV($quartz, $lavender);
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        @include transition(width 0.3s 0.3s);
        overflow: hidden;
    }
    @include m(messages) {
        display: block;
        height: 100%;
        overflow-y: scroll;
    }
}

.main {
    width: 100%;
    height: 100%;
    &.retracted {
        width: 75%;
    }
}
