$h-height: 30px;
$h-width: 40px;
.hamburger {
    width: $h-width;
    height: $h-height;
    position: fixed;
    top: 20px;
    left: 20px;
    @include mq(small) {
        top: 3%;
        position: absolute;
    }
    z-index: 5000;
    @include transition(0.4s 0.5s);
    @include transform(rotate(0deg));
    cursor: pointer;
    @include e(line) {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: palette(primary, dark);
        @include mq(small) {
            background: palette(primary, x-dark);
        }
        border-radius: 3px;
        opacity: 1;
        left: 0;
        @include transition(0.4s 0.5s);
        @include transform(rotate(0deg));
        &.one {
            top: 0px;
            &.open {
                top: ($h-height / 3);
                width: 0%;
                left: 50%;
            }
        }
        &.twoA {
            top: ($h-height / 3);
            &.open {
                @include transform(rotate(45deg));
            }
        }
        &.twoB {
            top: ($h-height / 3);
            &.open {
                @include transform(rotate(-45deg));
            }
        }
        &.three {
            top: ($h-height * 2/3);
            &.open {
                top: ($h-height / 3);
                width: 0%;
                left: 50%;
            }
        }
    }
}

.menu {
    height: 100%;
    z-index: 1000;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    position: fixed;
    background: palette(primary, xx-dark);
    @include transition(width 0.3s 0.3s, margin-left 0.3s 0.3s, margin-top 0.3s 0.3s, height 0.3s 0.3s, box-shadow 0.3s 0.3s, position 0.3s 0.6s);
    width: 25%;
    margin-left: -25%;
    @include mq(small) {
        height: 40%;
        width: 100%;
        margin-left:0;
        margin-top: -40vh;
        position:relative;
    }
    &.extended {
        margin-left: 0;
        width:25%;
        @include box-shadow(13px, 0px, 40px, -6px,rgba($black,0.4));
        @include mq(small) {
            margin-top: 0px;
            position:relative;
            width: 100%;
            @include box-shadow(0px, 0px, 0px, 0px, palette(primary, xx-dark));
        }
    }
    &.fixed {

    }
    @include e(button) {
        @include m(resume) {
            @extend %menu__button;
            background: palette(primary, x-dark);
            &:hover {
                background: palette(primary, xx-dark);
            }
        }
        @include m(projects) {
            @extend %menu__button;
            background: darken(#FCEFC4, 6%);
            &:hover {
                background: darken(#FCEFC4, 12%);
            }
        }
        @include m(home) {
            @extend %menu__button;
            background: $cosmos;
            &:hover {
                background: darken($cosmos, 6%);
            }
        }
        @include m(contact) {
            @extend %menu__button;
            background: $sprout;
            &:hover {
                background: darken($sprout, 6%);
            }
        }
    }
}
