.chat {
    height: 70%;
    position: relative;
    width: 35vw;
    border-radius: 14px;
    background: $white;
    position: relative;
    @include box-shadow(0, 26px, 65px, -2px, rgba($color-primary, 0.8));
    @include e(header) {
        padding: 27px 0;
        font-size: 38px;
        height: 7%;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-items(center);
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        color: $white;
        text-align: center;
        font-family: $font-family--primary;
        font-weight: $font-weight--regular;
        @include linear-gradientH(#70bdf8, #706ff6);
        @include box-shadow(0, 3px, 5px, 0px, rgba($grey, 0.6));
    }
}
