%message {
    max-width: 60%;
    font-family: $font-family--primary;
    font-weight: $font-weight--regular;
    border-radius: 12px;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: block;
    @include box-shadow(0px, 11px, 25px, -13px, rgba(0, 0, 0, 0.3));
    &.loading p,
    &.first.loading span p {
        display: none;
    }
    &.hidden {
        display: none;
    }
    &.fadeIn {
        @include animation(fadeInUp2 0.5s ease);
    }
}

%avatar {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;
        @include transform(translate(0, 50%));
    }
    to {
        opacity: 1;
        @include transform(none);
    }
}
