.responses {
    margin-top: auto;
    margin-bottom: 10px;
    position: relative;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(flex-start);
    &.waiting {
        & .response {
            cursor: default;
        }
        opacity: 0;
    }
    &.fadeIn {
        @include animation(fadeInUp 0.6s ease);
    }
    &.fadeOut {
        @include animation(fadeOutDown 0.6s ease);
    }
}

.response {
    font-family: $font-family--primary;
    font-weight: $font-weight--regular;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(#6D86F7, .7);
    color: $white;
    border-radius: 18px;
    padding: 14px 0px;
    width: 22%;
    text-align: center;
    // padding: 14px 30px;
    &:hover {
        cursor: pointer;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        @include transform(translate(0, 100%));
    }
    to {
        opacity: 1;
        @include transform(none);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        @include transform(translate(0, 100%));
    }
}
