.responses {
    margin-top: auto;
    margin-bottom:10px;
    position:relative;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(flex-start);
    &.waiting {
        & .response {
            cursor: default;
        }
        opacity: 0;
    }
    &.bounceIn {
        @include animation(bounceInUp 1s ease);
    }
    &.fadeOut {
        @include animation(fadeOutDown 0.4s ease);
    }
}

.response {
    font-family: $font-family--primary;
    font-weight: $font-weight--regular;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom:10px;
    background: rgba(#6D86F7, .7);
    color: $white;
    border-radius: 12px;
    padding: 12px 10px;
    &:hover {
        cursor: pointer;
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        @include transform(translate(0, 20px));
    }
    20% {
        opacity: 1;
        @include transform(translate(0, -10px));
    }
    40% {
        @include transform(translate(0, 10px));
    }
    60% {
        @include transform(translate(0, -5px));
    }
    to {
        @include transform(translate(0, 0));
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        @include transform(translate(0, 100%));
    }
}
